
/* ----------------  My Quiz Multi Step Form with JQ Validation Plug-in and Progress Bar     --------------- */
/* ------------ https://www.phpflow.com/php/multi-step-form-using-php-bootstrap-jquery/ + https://djaodjin.com/blog/jquery-multi-step-validation.blog  -------------*/

/*  hide other steps except first step*/
#quiz_form fieldset:not(:first-of-type) {
    display: none;
}




/* --------------- RadioButton in form of buttons CSS styling */

.form_radio_btn_quiz{
	display: inline-block;
	margin-right: 10px;
}

.form_radio_btn_quiz label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}

/* Checked */
.form_radio_btn_quiz input[type=radio]:checked + label {
	background: lime; /*#ffe0a6;*/
}
 
/* Hover */
.form_radio_btn_quiz label:hover {
	color: green; /*#666;*/
	border: 1px solid green;
}

/* Disabled */
.form_radio_btn_quiz input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}

.form_radio_btn_quiz input[type=radio] {
	/* display: none; */   /* this Css caused the failure of validationg radioButton with JQ Validate Plug-in. And by default, JQ Validate Plug-in ignores all hidden inputs. The solution is to change {display: none;} to {opacity:0;}  */
	opacity:0; 
}
/* --------- End RadioButton in form of buttons CSS styling */



/* CSS to hide "Next", "Prev" button on some iteration */
.hidden-btn{display:none;}



/* quiz image */
.img-quiz{width:42%; margin-bottom:20px;}
 @media screen and (max-width: 480px) { 
    .img-quiz{width:62%; } }

#quiz_form{
  margin:10px;
}

/* Div to display ajax generated Quiz question*/
#quizDiv{
	word-wrap: break-word; /* text not to overlap the div  */ 
	height: 250px; /* set specific height for User UI/UX, for div not to shrink when changing div content with show(900)/hide(900) */
}

/* mobile */
@media screen and (max-width: 480px) {
    #quizDiv{
	    height: 450px; /* set specific height for User UI/UX, for div not to shrink when changing div content with show(900)/hide(900) */
   }
}

/* CSS for Gif loader */
.loaderQuiz{width:20%;}
 @media screen and (max-width: 480px) { 
    .loaderQuiz{width:60%;} }


	
	
	
	
	
	
	
	/* --------------------------- Social Media Buttons  https://www.w3schools.com/howto/howto_css_social_media_buttons.asp  -------------*/
/* Style all font awesome icons */
.fa-my {
 padding: 20px;
  font-size: 3em;
  width: 3em;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */
.fa-empire {
  background: #00aff0;
  color: white;
}
/* Set a specific color for each brand */
.fa-eercast {
  background: #a4c639;
  color: white;
}


/* ---------------------------- END Social Media Buttons  https://www.w3schools.com/howto/howto_css_social_media_buttons.asp -------------*/


/* correct/wrong scores */
.score{padding:10px; border:1px solid black;}
.lavender{padding:10px; background:lavender;}



