
/* Wpress span text */
.smallX{
	font-size:0.7em; margin-top:-0.8em;
}
/*  */


.articleX{width:20%; margin-left:2%; margin-bottom:0.6em;}


/* ---------------------------------------- Mobile */
@media screen and (max-width: 480px) { 
   .articleX{width:44%; margin-left:0%;margin-bottom:0.6em;}
}
/* ---------------------------------------- Mobile */




.categorMenu {
	margin-left: 0.6em; padding: 0.4em; border:1px solid red;;
}


/* blog articles text that is hidden by default, visible on click */
.text-hidden{display:none;}





/* Wpress admin table class */
.admin-even{background: #b8d1f3;}
.admin-odd {background: #dae5f4;}


/* to fix visibility of action icons (delete, update, etc) in admin GridView */
.my-adminX .glyphicon{  -webkit-text-fill-color:blue;-webkit-text-stroke-color: white;-webkit-text-stroke-width: 0.7.00px;}

.text-truncated, .text-hidden:hover {
    cursor: pointer;
}